<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Eventos disponibles</div>
    <div class="panel-body">
        <form role="form" id="formularioFiltrar">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label>Filtar eventos por:</label>&nbsp;&nbsp;
                Fecha: <input type="text" id="txtFecha" ng-model="filtroFecha" ng-app="" placeholder="yyyy-MM-dd" />
                Hora: <input type="text" id="txtHora" name="usr_time" ng-model="filtroHora" placeholder="hh:mm">
                <button type="button" class="btn btn-default" ng-click="filtrarParametros()">Buscar</button>
            </div>
            <div class="col-md-2">
            </div>    
            <div class="col-md-12">
                <hr>
            </div>
        </form>


        <div ng-repeat="row in lista" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>{{row.nombre}}</h3>
                <h4>{{row.fecha}} {{row.hora}}</h4>
                <p>Lugar: {{row.lugar}}</p>
                <p>{{row.descripcion}}</p>
                <br>
                <p>Palabras clave: {{row.palabrasClave}}</p>
                <a class="btn btn-primary" href="{{row.enlace}}" target="_blank">Ver más...<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="col-md-12" ng-if="lista.length == 0" style="text-align: center">No hay eventos disponibles</div>
        <div class="col-md-12" ng-show="Loading" style="text-align: center">Cargando</div>
    </div>
</div>