	
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Personajes Wikipedia</div>
    <div class="panel-body">
      
        <div id="nocontent">
            <h1>Sadly your browser is not compatible with this site</h1>

            <div>You can use <a href="http://www.google.com/chrome/">Google
            Chrome</a>, <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a>
            or <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft
            Internet Explorer (v9 or above)</a> to access the PopCha Movie
            Network</div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="movieNetwork" style="text-align: center"></div>
            <div id="sidepanel">
               
                <div id="help" class="panel_off">
                   Ayuda
                </div>

                <div id="movieInfo" class="panel_off"></div>
            </div>
            <div id="faq" class="panel_off"> </div>
        </div>
        <div class="col-md-2"></div>
</div>


