/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/08/2016, 11:49:15 AM
    Author     : Daniel
*/

#iframeContenido{
    margin-left: auto;
    margin-right: auto;
    display:block;
    border:0px;
}

.error{
    color: red;
    border-color: red;
}

.error>.form-control{
    color: red;
    border-color: red;
}
